* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* first section related style */
.first-section {
    background-image: url("images/banner/banner1.png");

    min-width: 1600px;
    min-height: 800px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: right;
    margin-bottom: 100px;




}



.first-section-heading {
    font-weight: 700;
    font-size: 65px;
    color: #151414;

    padding: 216px 110px 1px 845px;
    margin-bottom: 10px;




}

.first-section-details {
    font-weight: 400;
    font-size: 16px;

    color: #444343;
    padding: 2px 80px 3px 876px;
    margin-bottom: 20px;
    margin-right: 27px;

}

.contact-button {
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 90px;
}

/* first section style complete */
/* ---------------------------------------------------------------------- */
/* second section related design */
.personal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.personal-photo {
    /* padding-left: 170px; */
    margin-left: 178px;
}

.my-heading {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 14px;
    padding-top: 24px;
}

.my-text {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 10px;
    padding: 20px;
}

.my-rules {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    list-style-type: style outside;
    list-style-type: "\1F44D";
    margin-top: 0px;
    margin-left: 10px;
}

.my-plan {
    margin-top: 100px;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 100px;
}

.my-plan-heading {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-top: 15px;


}

.plan-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.single-plan {
    text-align: center;
}

/* gradient related style sheet */
.gradient {
    margin-top: 100px;
    background-color: #000000;
    background-image: url("images/watch.png"), url("images/gradient3.png");
    background-repeat: no-repeat, no-repeat;

    min-height: 300px;
    min-width: 1140px;


}

/* my own section part */
.my-own-section {
    background-color: antiquewhite;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 60px;

}

.personal-section-tittle {


    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;


}

.quality-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.single-item {
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
    border: none;

}

.quality-details {
    padding: 5px;
}